# vim
*.swp
*.swo
*.vim

# processing
sketch.properties

# data
/glow_blend/data/*.png
/glow_image/data/*.png
/glow_pgraphics/data/*.png
/image_mask/data/*.jpg
/opengl_images_display/data/*.jpg
/particle_image/data/*.png
/svg_export/data/*.svg

